.about-hero-section {
  background-image: url("assets/toronto_skyline.jpg");
  background-position: 45% 30%;
  background-repeat: no-repeat;
  padding: 0px;
}
.about-hero-container {
  width: 100%;
  min-height: 50rem;
  background: rgba(0, 0, 0, 0.7);
}
.member-img {
  width: 50%;
  max-width: 25rem;
}
.member-img img {
  box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.member-name {
  font-size: 38px;
  font-weight: 500;
  color: slategrey;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.desc-image {
  box-shadow: 2px 2px 1px 3px rgba(0, 0, 0, 0.1);
}
.subtitle {
  color: black;
  font-size: 22px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
}
.about-content-section {
  background-image: url("assets/back.jpg");
  background-position: 45% 90%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-cta {
  width: 70%;
  background: rgb(218, 165, 32);
  background: linear-gradient(
    6deg,
    rgba(0, 0, 0, 1) 80%,
    rgba(23, 23, 23, 0) 82%,
    rgba(99, 68, 9, 0.9) 84%
  );
}

.team {
  min-height: 30rem;
  width: 100%;
  margin: 0px;
}
