.contact-hero {
  background-image: url("assets/tdotlake.jpg");
  background-position: 45% 30%;
  background-repeat: no-repeat;
  padding: 0px;
}
.contact-hero-cols {
  width: 100%;
  min-height: 20rem;
  background: rgba(0, 0, 0, 0.7);
}
.contact-form {
  border-top: 4px solid slategray;
  border-bottom: 4px solid slategray;

  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.label {
  font-family: "Cardo";
  font-size: 22px;
  font-weight: 600;
  padding: 3px;
  color: rgb(16, 22, 24);
  max-width: 40%;
}
.textarea {
  height: 16em;
}
.contact-content {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(0, 0, 0, 1) 60%
  );
  text-align: center;
  box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
.content-title {
  color: slategray;
  font-size: 40px;
  font-weight: 300;
}
.follow-us-title {
  color: goldenrod;
  font-size: 40px;
  font-weight: 300;
}
