.hero-img {
  background-image: url("https://images.unsplash.com/photo-1477146901578-40f6955116e1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-position: 1% 1%;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: hidden;
}
.hero-img-lens {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 50rem;
  width: 100%;
  text-align: center;
}
.logo-figure {
  width: 25rem;
  margin-bottom: 3rem;
  box-shadow: 2px 1px 15px 1px silver;
}

.hero-title {
  font-size: 53px;
  font-weight: 600;
  color: white;
}
.title-div {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  margin-bottom: 3rem;
}
.offers-title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
}

.service-container {
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.process-title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: whitesmoke;
  text-align: center;
}
.process-col {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(90, 22, 20);
  background: linear-gradient(
    6deg,
    rgba(90, 22, 20, 0.1) 8%,
    rgba(9, 9, 121, 0.1) 48%,
    rgba(99, 23, 9, 0.51) 91%
  );

  padding: 3rem;
}
.vision-section {
  background-image: url("https://images.unsplash.com/photo-1574060603747-421196bce3f4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px;
}
.dark-lens {
  width: 100%;
  padding: 5rem;

  background: rgba(0, 0, 0, 0.6);
}
.paragraph {
  text-align: center;
  width: 100%;
  font-family: "Cardo";
  font-size: 24px;
}
.hr-line {
  background-color: whitesmoke;
}

.testimonial-name-section {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 12rem;
  transform: skewX(-20deg);
}

.testimonial-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  transform: skewX(20deg);
}
.stars {
  transform: skewX(20deg);
}

#testimonial-name {
  font-size: 30px;
}
.testimonial-body {
  font-size: 18px;
  color: slategrey;
  font-weight: 400;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.with-shadow {
  box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.1);
}

.home-cta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 40rem;
  margin: 1rem;
}
.investments-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 30rem;
  background-color: #2f414f;
  box-shadow: 2px 2px 4px 2px silver;
}
.services-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 30rem;

  background-color: #000;
  box-shadow: 2px 2px 4px 2px silver;
}
@media screen and (max-width: 900px) {
  .home-cta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 40rem;
    margin: 1rem;
  }
  .investments-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000;
    height: 20rem;
  }
  .services-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
  }
}
