.investments-hero {
  background-image: url("https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1866&q=80");
  background-position: 45% 30%;
  background-repeat: no-repeat;
  padding: 0px;
}
.investments-hero-cols {
  width: 100%;
  min-height: 20rem;
  background: rgba(0, 0, 0, 0.7);
}
.summary {
  color: slategrey;
  background-color: white;
  padding: 20px;
  font-weight: 300;
  text-align: center;
}
.box {
  background-color: white;
  border-radius: 0%;
}
.content {
  background-color: whitesmoke;
  padding: 20px;
}
.name {
  color: slategrey !important;
  font-weight: 300 !important;
  font-family: "Cardo";
  text-decoration: underline;
}
.steps-container {
  padding: 40px;
}
.step-box {
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.step-top {
  align-self: flex-start;
  padding: 10px;
  text-align: center;
  width: 50%;
  height: 50%;
  /* border-right: 1px solid goldenrod; */
  border-bottom: 1px solid goldenrod;
  border-top: 1px solid goldenrod;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.step-bottom {
  align-self: flex-end;
  padding: 10px;
  text-align: center;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-left: 1px solid goldenrod; */
  border-top: 1px solid goldenrod;
  border-bottom: 1px solid goldenrod;

  border-radius: 40px;
}

.number {
  color: slategrey;
  font-weight: 500;
  align-self: center;
  margin: 0;
}
