.services-hero {
  background-image: url("assets/services.jpg");
  background-position: 45% 30%;
  background-repeat: no-repeat;
  padding: 0px;
}
.services-hero-cols {
  width: 100%;
  min-height: 20rem;
  background: rgba(0, 0, 0, 0.7);
}
.content {
  padding: 20px;
}
.subtitle {
  color: black;
}
.serv-content-div {
  background: rgb(15, 21, 24);
  background: linear-gradient(0deg, rgba(15, 21, 24, 1) 61%, #2f414f 100%);
}
.serv-name {
  color: #2f414f;
}
.summary {
  background-color: transparent !important;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 20px;
  line-height: 2rem;
  font-size: 1.65rem !important;
}
