.services-hero {
  background-image: url("assets/services.jpg");
  background-position: 45% 30%;
  background-repeat: no-repeat;
  padding: 0px;
}
.services-hero-cols {
  width: 100%;
  min-height: 20rem;
  background: rgba(0, 0, 0, 0.7);
}
.content {
  padding: 20px;
}
.subtitle {
  color: black;
}
.serv-content-div {
  background: rgb(15, 21, 24);
  background: linear-gradient(
    7deg,
    rgba(15, 21, 24, 1) 61%,
    rgba(74, 65, 51, 0) 63%
  );
}
.serv-name {
  color: slategrey;
}
.summary {
  background-color: transparent !important;
  color: lightsteelblue;
  font-weight: 300;
  text-align: center;
  padding: 20;
}
