body {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-family: "Montserrat";
}

a {
  color: white;
  font-family: "Cardo";
  font-weight: 400;
  font-size: 24px;
  border-bottom: 1px solid transparent;
}
a:hover {
  color: silver;
  border-bottom: 1px solid silver;
}
.company-brand {
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  margin-left: 1rem;
}
.navigation {
  background-color: rgba(0, 0, 0, 0.93);
  width: 100%;
}

.page-title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
}
.column-all-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-all-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row-centered-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar {
  max-height: 5rem;
}
.navbar-item {
  font-family: "Cardo";
  border-bottom: 3px solid transparent;
  font-size: 1.25rem;
}
.navbar-item:hover {
  border-bottom: 3px solid slategray;
}
.nav-social-icon {
  padding: 0.3rem;
  cursor: pointer;
}
.nav-social-icon:hover {
  opacity: 0.8;
}
.contact-info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: black;
}

.nav-contact {
  color: #daa520;
  font-size: 22px;
  font-weight: 300;
  padding: 0.3rem;
  width: "100%";
}
.logo-figure {
  width: 25rem;
  margin-bottom: 3rem;
  box-shadow: 2px 1px 15px 1px silver;
}
